{% extends 'base.html' %}

{% block content %}
<div>
  <div>
    <h2 class="text-center">O que é?</h2>

    <p><strong>Programa-me</strong> é uma coleção aberta de ideias de programas simples ou sofisticados, <em>agnósticos de linguagem ou frameworks</em>, para os desenvolvedores que querem se aprofundar cada vez mais em novas tecnologias mas que não sabem qual novo projeto desenvolver</p>
  </div>

  <div>
    <h2 class="text-center">Projetos</h2>

    <div class="row g-2">
      {% for project in projects %}
      <div onclick="location.href='/projects/{{ project.id }}'" style="cursor: pointer;">
        <div class="card">
          <div class="card-body">
            <div>
              <span class="card-title fw-bold">{{ project.name }}</span>

              <div class="d-sm-inline float-sm-end">
                {% for topic in project.topics %}
                <span class="badge bg-secondary">{{ topic }}</span>
                {% endfor %}

                {% if project.difficulty > 7 %}
                <span class="badge bg-danger" >dificuldade: {{ project.difficulty }}</span>
                {% elif project.difficulty > 4 %}
                <span class="badge bg-warning">dificuldade: {{ project.difficulty }}</span>
                {% else %}
                <span class="badge bg-primary">dificuldade: {{ project.difficulty }}</span>
                {% endif %}
              </div>
            </div>
            <p class="card-text mt-2">{{ project.summary }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
